@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Oswald', sans-serif;
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

.container{
    /* background-color: #3f4925; */
    background-color: #303741;
    position: relative;
}

.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8.5rem;
    /* background-color: #3C4524; */
    background-color: #20232C;
    padding: 1rem 2rem;
    box-shadow: 0 2px 3px #20232C;
}

.menu-pos-fixed {
    position: sticky;
    top: -3.6rem;
    left: 0;
    z-index: 1000;
}

.first-leading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #f1f1f1;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .08rem;
}

.logo a {
    color: #f1f1f1;
}

.logo a span{
    color: #537497;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    width: 20rem;
    height: 2rem;
    border: .1rem solid #585F63;
    outline: none;
    padding: 0 .5rem;
    border-top-left-radius: .1rem;
    border-bottom-left-radius: .1rem;
    background-color: #303741;
    color: #f1f1f1;
}

.search-icon{
    background-color: #585F63;
    height: 2rem;
    border: .2rem solid #585F63;
    width: 2.5rem;
    cursor: pointer;
    border-top-right-radius: .1rem;
    border-bottom-right-radius: .1rem;
}

.icon-search{
    font-size: 1rem;
    color: #f1f1f1;
    font-weight: 100;
}

.connexion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connexion span a{
    color: #f1f1f1;
    font-size: 1rem;
    text-decoration: none;
}

.register{
    margin-right: 0.5rem;
    background-color: #537497;
    padding: 0.25rem .45rem;
    border-radius: 0.1rem;
    transition: background-color .4s ease;
}

.register:hover{
    background-color: #20232C;
}

.profile-img{
    width: 2.5rem;
    height: 2.5rem;
    border: .1rem solid #585F63;
    border-radius: 50%;
    object-fit: cover;
    margin-left: .5rem;
    cursor: pointer;
}

.second-leading-item{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.second-item-list a {
    color: #f1f1f1;
    font-size: .85rem;
    padding: 0.5rem 1rem;
    transition: background-color .2s ease-in-out;
    border-radius: .1rem;
}

.second-item-list a:hover {
    background-color: #303741;
}

.second-item-list:hover{
    background-color: #20232C;
}

.third-leading{
    padding: .2rem 0 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 80%;
}

.third-leading::before{
    content: ' ';
    height: 0.01rem;
    width: 100%;
    background-color: #303741;
    position: absolute;
    top: 0;
}

.category a {
    text-decoration: none;
    color: #f1f1f1;
    font-size: 0.7rem;
    font-weight: 300;
    letter-spacing: .08rem;
    transition: color .3s ease;
}

.category a:hover {
    color: #537497;
}

.news{
    background-color: #121212;
    min-height: 50vmin;
    cursor: grab;
    position: relative;
    overflow: hidden;
}

.news:active {
    cursor: grabbing;
}

.slide-show{
    position: absolute;
    height: 100%;
    display: flex;
    pointer-events: none;
    padding: 1rem 3rem;
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;   
}

.news-card{
    /* width: 15rem;
    height: 14rem; */
    height: 100%;
    width: 60vmin;
    background-color: #515E64;
    color: #f1f1f1;
    border-radius: 0.1rem;
    flex-shrink: 0;
}

.news-card:not(:nth-child(1)) {
    margin-left: 2rem;
}

.news-card-header{
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}

.news-card-artist{
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: .085rem;
}

.news-crad-star{
    font-size: .75rem;
    color: #537497;
}

.news-card-activity{
    font-size: 0.8rem;
    font-weight: 300;
    align-self: flex-end;
}

.news-card-body{
    width: 100%;
    height: 55%;
    position: relative;
}

.news-card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.news-card-program{
    font-size: 0.95rem;
    font-weight: 400;
    margin-left: 0.5rem;
}

.news-card-program ~ p{
    margin-left: 4rem;
    font-weight: 300;
}

.read-more {
    background-color: #537497;
    position: absolute;
    padding: 0.3rem;
    right: -1rem;
    bottom: -2.8rem;
    pointer-events: auto;
    border-radius: 0.1rem;
    transition: transform .3s ease;
}

.read-more:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.popular-songs, 
.popular-albums {
    /* background-color: #617448; */
    padding: 1rem 10rem;
}

/* commun */
.section-title,
.section-subtitle {
    text-align: center;
    color: #f1f1f1;
}

.section-title{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .089rem;
}

.section-subtitle{
    font-size: 0.95em;
    font-weight: 300;
    letter-spacing: .085rem;
}
/* commun end */

.section-header{
    /* background-color: #343A46; */
    width: 60%;
    margin-bottom: 1rem;
    padding: .1rem;
    border-radius: 5rem;
    margin: 0 auto;
}

.pop-songs-cards,
.pop-albums-cards,
.pop-artists-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80rem;
    margin: 2rem auto 0;
}

.pop-song-card {
    height: 14rem;
    width: 10rem;
    padding: .5rem;
    margin: .5rem;
    background-color: rgba(0,0,0,0.75);
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: background-color .3s ease;
    position: relative;
}

.pop-song-card:hover {
    background-color: rgba(0,0,0,0.4);
}

.card-img-cover{
    height: 8rem;
}

.cover-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.1rem;
}

.pop-song-icon{
    position: absolute;
    color: #537497;
    font-size: 2rem;
    bottom: 3rem;
    right: 1rem;
    z-index: 100;
    opacity: 0;
    transform: translateY(100%);
    transition: all .3s ease;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
    border-radius: 50%;
}

.pop-song-icon:hover{
    transform: scale(1.1);
}

.pop-song-icon-show{
    opacity: 1;
    transform: translateY(0);
}

.pop-song-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pop-song-body,
.pop-song-footer{
    color: #f1f1f1;
}

.song-title{
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: .035rem;
}

.song-artist{
    font-size: 0.7rem;
    font-weight: 300;
}

.song-genre {
    font-size: .65rem;
    font-weight: 100;
}

.pop-song-footer{
    display: flex;
    justify-content: space-evenly;
}

.pop-song-footer span {
    font-size: 0.55rem;
    font-weight: 100;
}

.card-img-cover-album{
    width: 100%;
    height: 100%;
}

.album-img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pop-album-card{
    width: 15rem;
    height: 13rem;
    padding: 0.2rem;
    position: relative;
    cursor: pointer;
    margin: 0 .5rem .5rem;
}

.pop-album-body {
    position: absolute;
    bottom: 10px;
    left: .75rem;
    z-index: 2;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
}

.pop-album-card::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,.95), rgba(0,0,0,.7), rgba(0,0,0,.65));
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 1;
    transition: opacity .3s ease;
}

.pop-album-card:hover::after{
    opacity: .8;
}

.album-title{
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

.album-artist{
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .035rem;
}

.album-songs,
.album-year {
    font-size: 0.75rem;
    font-weight: 100;
}

.popular-artist-card{
    display: flex;
    flex-direction: column;
    width: 12.5rem;
    height: 15rem;
    padding: 1rem;
    background-color: rgb(27, 27, 27);
    margin: 0 .5rem 1rem;
    border-radius: 0.1rem;
    cursor: pointer;
    box-shadow: -0.5px 0.5px 7px 1px rgba(0,0,0,0.75);
    transition: background-color .3s ease;
}

.popular-artist-card:hover{
    background-color: rgb(41, 41, 41);
}

.pop-art-img-container{
    width: 100%;
    height: 80%;
}

.pop-art-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
}

.description-pop-art{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    color: #fff;
}

.pop-art-name{
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .035rem;
}

.pop-art-desc{
    font-size: 0.85rem;
    font-weight: 100;
    letter-spacing: .045rem;
}

/* footer */
.footer {
    background-color: #14161d;
    margin-top: 2rem;
}

.footer-wrapper {
    position: relative;
}

.few-info-footer{
    background-color: #979aa0;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

.footer-location,
.footer-contact-make{
    border: 1px solid #515E64;
    width: 6rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    padding: .5rem .5rem;
    cursor: pointer;
    border-radius: 0.2rem;
}

.footer-location i,
.footer-contact-make i {
    color: #537497;
    font-size: 1.8rem;
}

.footer-location span,
.footer-contact-make span {
    font-size: .9rem;
    font-weight: 300;
    text-align: center;
    color: #2c2a2a;
}

.footer-contact{
    display: flex;
}

.more-info-footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem;
}

.footer-header,
.app-download {
    color: #f1f1f1;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .075rem;
    margin-bottom: .5rem;
}

.aboutus-footer ul {
    list-style: none;
    margin-left: 0.5rem;
}

.aboutus-footer li {
    margin-top: 0.25rem;
}

.aboutus-footer a {
    text-decoration: none;
    color: rgba(255,255,255,0.6);
    font-size: 0.85rem;
    font-weight: 300;
    transition: color .3s ease-in-out;
}

.aboutus-footer a:hover {
    color: rgba(255,255,255,0.9);
}

.footer-social {
    padding: 0 10rem 1rem 10rem;
    display: block;
}

.application {
    display: flex;
    align-items: center;
}

.application-logo {
    display: flex;
    margin-top: 1rem;
}

.app-logo-cover {
    width: 10rem;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 0.2rem;
    padding: 0.2rem;
    border: .05rem solid #f1f1f1;
    cursor: pointer;
}

.app-logo-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.follow-us {
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem 0;
    margin-top: 1rem;
    margin-left: 2rem;
}

.follow-us i {
    font-size: 1.4rem;
    color: #537497;
    transform: scale(1);
    transition: transform .3s ease-in-out;
}

.follow-us i:hover {
    transform: scale(1.1);
}

.sponsor {
    display: flex;
    flex-direction: column;
    background-color: #4e4f52;
    padding: 2rem 0 0;
}

.sponsor .footer-header {
    text-align: center;
}

.sponsor-logos {
    display: flex;
    margin: 1rem auto;
}

.logo-img-spo {
    width: 7rem;
    height: 4rem;
    margin: 0 1rem 0;
}

.logo-img-spo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.2rem;
}

.copy-right {
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-right span {
    color: #a5a0a0;
    font-size: 0.7rem;
    font-weight: 300;
}

.aside-footer {
    background-color: #14161d;
    height: 15rem;
    position: absolute;
    top: 25px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.aside-footer-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: .2px solid rgb(102, 100, 100);
    border-top: none;
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
}

.aside-footer-items i {
    font-size: 1.4rem;
    margin-bottom: 0.22rem;
    color: #f1f1f1;
}

.aside-footer-items span {
    font-size: .75rem;
    font-weight: 100;
    color: #f1f1f1;
}

/* modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(146, 143, 143);
    z-index: -1000;
    width: 25rem;
    height: 25rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
    opacity: 0;
    transition: opacity .4s ease;
}

.modal-show {
    z-index: 1000;
    opacity: 1;
}

.modal-img {
    width: 100%;
    height: 15rem;
}

.modal-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
}

.modal-title {
    color: #141414;
    font-size: 1.2rem;
    font-weight: 500;
}

.modal-desc {
    color: #141414;
    font-size: .75rem;
    font-weight: 300;
}

.modal-programmes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.modal-programmes {
    font-size: 0.8rem;
    font-weight: 400;
    color: #141414;
}

.modal-price {
    font-size: 0.85rem;
}

.hide-bg {
    background-color: rgba(49, 49, 49, 0.85);
    width: 100%;
    height: 100%;
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
}
/* modal end */
