@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Oswald', sans-serif;
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

.container{
    /* background-color: #3f4925; */
    background-color: #303741;
}

.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8.5rem;
    /* background-color: #3C4524; */
    background-color: #20232C;
    padding: 1rem 2rem;
    box-shadow: 0 2px 3px #20232C;
}

.first-leading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #f1f1f1;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .08rem;
}

.logo a {
    color: #f1f1f1;
}

.logo a span{
    color: #537497;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    width: 20rem;
    height: 2rem;
    border: .1rem solid #585F63;
    outline: none;
    padding: 0 .5rem;
    border-top-left-radius: .1rem;
    border-bottom-left-radius: .1rem;
    background-color: #303741;
    color: #f1f1f1;
}

.search-icon{
    background-color: #585F63;
    height: 2rem;
    border: .2rem solid #585F63;
    width: 2.5rem;
    cursor: pointer;
    border-top-right-radius: .1rem;
    border-bottom-right-radius: .1rem;
}

.icon-search{
    font-size: 1rem;
    color: #f1f1f1;
    font-weight: 100;
}

.connexion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connexion span a{
    color: #f1f1f1;
    font-size: 1rem;
    text-decoration: none;
}

.register{
    margin-right: 0.5rem;
    background-color: #537497;
    padding: 0.25rem .45rem;
    border-radius: 0.1rem;
    transition: background-color .4s ease;
}

.register:hover{
    background-color: #20232C;
}

.profile-img{
    width: 2.5rem;
    height: 2.5rem;
    border: .1rem solid #585F63;
    border-radius: 50%;
    object-fit: cover;
    margin-left: .5rem;
    cursor: pointer;
}

.second-leading-item{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.second-item-list a {
    color: #f1f1f1;
    font-size: .85rem;
    padding: 0.5rem 1rem;
    transition: background-color .2s ease-in-out;
    border-radius: .1rem;
}

.second-item-list a:hover {
    background-color: #303741;
}

.second-item-list:hover{
    background-color: #20232C;
}

.third-leading{
    padding: .2rem 0 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 80%;
}

.third-leading::before{
    content: ' ';
    height: 0.01rem;
    width: 100%;
    background-color: #303741;
    position: absolute;
    top: 0;
}

.category a {
    text-decoration: none;
    color: #f1f1f1;
    font-size: 0.7rem;
    font-weight: 300;
    letter-spacing: .08rem;
    transition: color .3s ease;
}

.category a:hover {
    color: #537497;
}

.news{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    background-color: #121212;
}

.news-card{
    width: 15rem;
    height: 14rem;
    background-color: #515E64;
    margin: 0.3rem;
    color: #f1f1f1;
    border-radius: 0.1rem;
    cursor: pointer;
}

.news-card-header{
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}

.news-card-artist{
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: .085rem;
}

.news-crad-star{
    font-size: .75rem;
    color: #537497;
}

.news-card-activity{
    font-size: 0.8rem;
    font-weight: 300;
    align-self: flex-end;
}

.news-card-body{
    width: 100%;
    height: 55%;
    position: relative;
}

.news-card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-card-program{
    font-size: 0.95rem;
    font-weight: 400;
    margin-left: 0.5rem;
}

.news-card-program ~ p{
    margin-left: 4rem;
    font-weight: 300;
}

.read-more {
    background-color: #537497;
    position: absolute;
    padding: 0.3rem;
    right: -1rem;
    bottom: -2.8rem;
    cursor: pointer;
    border-radius: 0.1rem;
    transition: transform .3s ease;
}

.read-more:hover{
    transform: scale(1.1);
}

.popular-songs, 
.popular-albums {
    /* background-color: #617448; */
    padding: 1rem 10rem;
}

/* commun */
.section-title,
.section-subtitle {
    text-align: center;
    color: #f1f1f1;
}

.section-title{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .089rem;
}

.section-subtitle{
    font-size: 0.95em;
    font-weight: 300;
    letter-spacing: .085rem;
}
/* commun end */

.section-header{
    /* background-color: #343A46; */
    width: 60%;
    margin-bottom: 1rem;
    padding: .1rem;
    border-radius: 5rem;
    margin: 0 auto;
}

.pop-songs-cards,
.pop-albums-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80rem;
    margin: 2rem auto 0;
}

.pop-song-card {
    height: 14rem;
    width: 10rem;
    padding: .2rem;
    margin: .5rem;
    background-color: #090c0c;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 2px #090c0c;
}

.card-img-cover{
    height: 8rem
}

.cover-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.1rem;
}

.pop-song-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pop-song-body,
.pop-song-footer{
    color: #f1f1f1;
}

.song-title{
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: .035rem;
}

.song-artist{
    font-size: 0.7rem;
    font-weight: 300;
}

.song-genre {
    font-size: .65rem;
    font-weight: 100;
}

.pop-song-footer{
    display: flex;
    justify-content: space-evenly;
}

.pop-song-footer span {
    font-size: 0.55rem;
    font-weight: 100;
}

.card-img-cover-album{
    width: 100%;
    height: 100%;
}

.album-img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pop-album-card{
    width: 15rem;
    height: 13rem;
    padding: 0.2rem;
    position: relative;
    cursor: pointer;
    margin: 0 .5rem .5rem;
}

.pop-album-body {
    position: absolute;
    bottom: 10px;
    left: .75rem;
    z-index: 2;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
}

.pop-album-card::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,.95), rgba(0,0,0,.7), rgba(0,0,0,.65));
    position: absolute;
    top: 0;
    z-index: 1;
}

.album-title{
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

.album-artist{
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .035rem;
}

.album-songs,
.album-year {
    font-size: 0.75rem;
    font-weight: 100;
}
