@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Oswald', sans-serif;
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

.container{
    background-color: #F0FCF8;
    display: grid;
    grid-template-columns: min-content repeat(10, 1fr) min-content;
    grid-template-rows: repeat(2, 85px);
}

.menu-container{
    background: linear-gradient(to top, rgba(104,161,20,.5), rgba(60,69,36,.7)), url('./img/bg/bg-1.jpg') center no-repeat;
    background-size: cover;
    grid-column: 1 / -1;
    grid-row: 1 / 3;
}

.first-leading{
    display: grid;
    grid-template-columns: minmax(3rem, 1fr) repeat(8, 1fr) minmax(3rem, 1fr);
    grid-template-rows: 1fr;
    margin-top: 1.5rem;
}

.logo{
    /* display: block; */
    grid-column: 2 / 4;
    grid-row: 1 / -1;
    color: #fff;
    font-size: 2.5rem;
}

.logo a {
    color: #fff;
}

.search{
    grid-column: 4 / 8;
    grid-row: 1 / -1;
    display: flex;
    align-items: center;
}

.search input{
    width: 20rem;
    height: 2rem;
    border: .2rem solid #73B20D;
    outline: none;
    padding: 0 1rem;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.search-icon{
    background-color: #73B20D;
    height: 2rem;
    border: .2rem solid #73B20D;
    width: 2.5rem;
    cursor: pointer;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.icon-search{
    font-size: 1rem;
    color: #fff;
}

.connexion{
    grid-column: 8 / 10;
    grid-row: 1 / -1;
}


.profile-img{
    width: 50px;
    height: 50px;
    border: 2px solid #73B20D;
    border-radius: 50%;
    object-fit: cover;
}